SECRET_KEY=your_secret_key_here

DEBUG=True

POSTGRES_DB=your_db_name
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

REDIS_HOST=localhost
REDIS_PORT=6379

ADMIN_EMAIL=your_admin_username
ADMIN_PASSWORD=your_admin_password

STRIPE_API_KEY=your_stripe_apikey

CUR_API_URL=currencyapi_url
CUR_API_KEY=your_currencyapi_apikey

EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=465
EMAIL_USE_TLS=False
EMAIL_USE_SSL=True
EMAIL_HOST_USER=your_email@yandex.ru
EMAIL_HOST_PASSWORD=your_password